button, mat-progress-spinner {
  margin-left: 10px;
  margin-right: 10px;
}

.file-label {
  margin-left: 20px;
}

mat-label {
  margin-right: 10px;
}

.upload-field {
  display: flex;
  direction: row;
  align-items: center;
}
