<div class="page-container">
  <div>
    <h1>Pawssier</h1>
    <h3>The all-in-one tool for pet parents.</h3>
    <p>Placeholder for some content</p>
  </div>
  <span class="spacer"></span>
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Log In">
          <app-login-form></app-login-form>
        </mat-tab>
        <mat-tab label="Sign Up">
          <app-signup-form></app-signup-form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
