mat-form-field {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-error {
  margin: 10px;
}

#check {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

.loading-message {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
