h1 {
    margin-top: 80px;
    margin-left: 10px;
}

hr {
    border: 1px solid black;
    margin-bottom: 10px;
}

form {
    margin: 5px;
}

label {
    display: block;
    font-size: 20px;
    margin: 3px;
}

input[type="text"],
textarea{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #8C4843;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 2px solid #729B79;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin: 10px;
}

input[type="date"],
input[type="number"] {
    margin: 2px;
    width: 100px;
}

.inline,
.inline-group label,
.inline-group button,
.inline-group h3 {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

button,
input[type="file"] {
    margin-left: 10px;
}

#save-button {
    margin-left: 0;
}

.col-container {
    columns: 2;
}
@media (max-width:830px) {
    .col-container {
        columns: 1;
    }
}
.bordered {
  margin: 5px;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
