<div>
  <h1>Create a New Pet Profile</h1>
  <hr>
  <div>
    <form [formGroup]="newPetForm" autocomplete="off" (ngSubmit)="onSubmit()">
      <div class="col-container">
        <label for="name">Name:</label>
        <input formControlName="name" id="name" type="text" placeholder="Name..." />
        <label for="breed">Breed:</label>
        <input formControlName="breed" id="breed" type="text" placeholder="Breed..." />
        <label for="color">Color(s):</label>
        <input formControlName="color" id="color" type="text" placeholder="Color(s)..." />
        <label for="description">Description:</label>
        <input formControlName="description" id="description" type="text" placeholder="Description..." />
        <label for="microchip">Microchip Number:</label>
        <input formControlName="microchip" id="microchip" type="text" placeholder="Microchip..." />
        <div class="inline-group">
          <label for="radio">Sex:</label>
          <input formControlName="male" id="male" name="male" type="radio" value="Male" />
          <label for="male">Male</label>
          <input formControlName="female" id="female" name="female" type="radio" value="Female" />
          <label for="female">Female</label>
          <br>
          <label for="fixed">Spayed/Neutered?</label>
          <input formControlName="fixed" id="fixed" type="checkbox" />
          <br>
          <label for="weight">Weight:</label>
          <input formControlName="weight" id="weight" type="number" step="0.1" value="0.0" placeholder="0.0" />
          <br>
          <label for="birthday">Birthday:</label>
          <input formControlName="birthday" id="birthday" type="date" />
          <br>
          <label for="adoptionDay">Adoption Day:</label>
          <input formControlName="adoptionDay" id="adoptionDay" type="date" />
          <br>
          <label for="vetRecords">Vet Records:</label>
          <input formControlName="vetRecords" id="vetRecords" type="file" multiple="multiple" accept=".pdf, image/*" />
          <br>
          <label for="petPhoto">Photo:</label>
          <input formControlName="petPhoto" id="petPhoto" type="file" accept="image/*" />
        </div>
      </div>
      <hr>


      <h3 class="inline" formArrayName="prescriptions">Prescriptions</h3>
      <button class="inline" (click)="addPrescription()" type="button">Add Prescription</button>
      <section *ngFor="let prescription of prescriptions().controls; let i = index;" formArrayName="prescriptions">
        <div formGroupName="{{i}}">
          <label for="prescriptionName-{{i}}">Name: {{i}}</label>
          <input formControlName="prescriptionName" id="prescriptionName-{{i}}" type="text" placeholder="Drug Name..." />
          <label for="prescriptionDoctor-{{i}}">Prescribing Doctor:</label>
          <input formControlName="prescriptionDoctor" id="prescriptionDoctor-{{i}}" type="text" placeholder="Prescribing Doctor..." />
          <div class="inline-group">
            <label for="prescriptionDue-{{i}}">Refill Due:</label>
            <input formControlName="prescriptionDue" id="prescriptionDue-{{i}}" type="date" />
            <br>
            <label for="prescriptionRefills-{{i}}">Refills Remaining:</label>
            <input formControlName="prescriptionRefills" id="prescriptionRefills-{{i}}" type="number" step="1" value="0"
              placeholder="0" />
          </div>
          <button (click)="removePrescription(i)" type="button">Remove</button>
        </div>
      </section>
      <hr>


      <!--
      <div class="inline-group">
        <h3>Vaccinations</h3>
        <button form="newPetForm" formControlName="vaccine_add_button" type="button">Add</button>
                <button form="newPetForm" formControlName="vaccine_save_button" type="button">Save</button>
                <button form="newPetForm" formControlName="vaccine_cancel_button" type="button">Cancel</button>
      </div>
      <label for="vaccineName">Name:</label>
      <input formControlName="vaccineName" id="vaccineName" type="text" placeholder="Name..." />
      <div class="inline-group">
        <label for="vaccineAdministered">Date Administered:</label>
        <input formControlName="vaccineAdministered" id="vaccineAdministered" type="date" />
        <br>
        <label for="vaccineDue">Due Date:</label>
        <input formControlName="vaccineDue" id="vaccineDue" type="date" />
      </div>
      <hr>
      <div class="inline-group">
        <h3>Health Conditions</h3>
        <button form="newPetForm" formControlName="health_add_button" type="button">Add</button>
                <button form="newPetForm" formControlName="health_save_button" type="button">Save</button>
                <button form="newPetForm" formControlName="health_cancel_button" type="button">Cancel</button>
      </div>
      <label for="conditionName">Name:</label>
      <input formControlName="conditionName" id="conditionName" type="text" placeholder="Condition..." />
      <label for="conditionNotes">Notes:</label>
      <textarea formControlName="conditionNotes" id="conditionNotes" placeholder="Notes..." rows="2"></textarea>
--> <button id="save_button" type="submit" onclick="return false;">Save Profile</button>
      <button routerLink="/account-profile" type="button">Cancel</button>
    </form>
  </div>
</div>
