<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar *ngIf="!this.loggedIn">Welcome!</mat-toolbar>
    <mat-toolbar *ngIf="this.loggedIn">Hello, {{this.firstName}}!</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a mat-list-item routerLink="/pets">
        <mat-icon>pets</mat-icon>My Pets
      </a>
      <a mat-list-item routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>Calendar
      </a>
      <a mat-list-item routerLink="/petfinder">
        <mat-icon>search</mat-icon>Petfinder
      </a>
      <a mat-list-item routerLink="/bookmarks">
        <mat-icon>collections_bookmark</mat-icon>Bookmarks
      </a>
      <a mat-list-item routerLink="/profile">
        <mat-icon>settings</mat-icon>Settings
      </a>
      <a mat-list-item *ngIf="!this.loggedIn" (click)="this.login()">
        <mat-icon>login</mat-icon>Log In
      </a>
      <a mat-list-item *ngIf="this.loggedIn" (click)="this.logout()">
        <mat-icon>logout</mat-icon>Log Out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button id="homeButton" routerLink="homepage">
        <h1>Pawssier</h1>
      </button>
      <span class="spacer"></span>
      <button mat-button routerLink="/contact-us">Contact Us</button>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
