.page-header {
    margin-top: 70px;
}
h1 {
    margin-left: 15px;
    text-decoration: underline;
    display: inline-block;
}

.header-buttons {
    text-align: center;
    margin-bottom: 5px;
    padding: 1px;    
    float: right;    
}

button {
    font-size: 15px;
    width: 100px;
    color: black;
    text-decoration: none;
    background-color: #BACDB0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: #729B79;
}

.preview-card {
    float: left;
    padding: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    max-height: 210px;
    width: 100%;
    background-color: #F3E8EE;
    columns: 2;
    white-space: nowrap;
    overflow-wrap: break-word;
}
.preview-card:hover {
    background-color: #BACDB0;
}
.preview-card:active {
    background-color: #729B79;
}
.preview-card img {
    height: 200px;
}

#cards {
    display: inline-flexbox;
    columns: 2;
    padding: 10px;
}
@media (max-width:1400px) {
    #cards {
        columns: 1;
    }
}

h2{
    font-size: 30px;
}
p {
    margin: 2px;
    font-size: 20px;
    ;
}