mat-form-field, button {
  margin-left: 10px;
  margin-right: 10px;
}
#saveElements {
  margin-top: 2rem;
  border-radius: 10px;
  width: max-content;
}

#changePass {
  margin-left: 10px;
}

#container {
  display: flex;
  justify-content: center;
}
