.head-container {
  display: flex;
  align-items: center;
  padding: 10px;
}
.headerBtns {
  margin-left: 10px;
}
mat-card {
  width: 100%;
  margin: 15px;
}
.spacer {
  flex: 1 1 auto;
}
.card-container {
  display: flex;
  justify-content: center;
}
