.page-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 20px;
}

h1 {
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0px;
}

.settings-card {
  margin-top: 40px;
  width: 400px;
}

mat-card-title {
  margin-bottom: 25px;
}

mat-card-content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.button-group {
  align-self: center;
}

button {
  margin-right: 5px;
  width: 75px;
}
