<div class="head-container">
  <div>
    <h1>{{pet.name}}</h1>
    <h3>{{pet.color}} {{pet.breed}}</h3>
    <h3>
      <span *ngIf="pet.fixed && (pet.sex === 'Male')">Neutered</span>
      <span *ngIf="pet.fixed && (pet.sex === 'Female')">Spayed</span>
      {{pet.sex}}
    </h3>
  </div>
  <span class="spacer"></span>
  <img src="{{pet.petPhoto}}" />
</div>
<mat-tab-group dynamicHeight>
  <mat-tab label="General Info">
    <h4>Description</h4>
    <p>{{pet.description}}</p>
    <h4>Weight</h4>
    <p>{{pet.weight}} lbs</p>
    <div *ngIf='pet.birthday'>
      <h4>Birthday</h4>
      <p>{{pet.birthday | date:'mediumDate'}}</p>
    </div>
    <div *ngIf='pet.adoptionDay'>
      <h4>Adoption Day</h4>
      <p>{{pet.adoptionDay | date:'mediumDate'}}</p>
    </div>
    <div *ngIf='pet.microchip'>
      <h4>Microchip</h4>
      <p>{{pet.microchip}}</p>
    </div>
    <a mat-raised-button color="accent" *ngIf='pet.vetRecords' href="{{pet.vetRecords}}" target="_blank"
      matTooltip="Opens the PDF Records in a new window">View Vet Records</a>
  </mat-tab>
  <mat-tab label="Prescriptions">
    <div *ngFor="let prescription of pet.prescriptions">
      <mat-card>
        <h3>{{prescription.name}}</h3>
        <mat-card-subtitle>{{prescription.doctor}}</mat-card-subtitle>
        <mat-card-content>
          <p>Refill Due: {{prescription.due | date:'mediumDate'}}</p>
          <p>Refills Remaining: {{prescription.refills}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Vaccines">
    <div *ngFor="let vaccine of pet.vaccines">
      <mat-card>
        <h3>{{vaccine.name}}</h3>
        <mat-card-content>
          <p>Due: {{vaccine.dueDate | date:'mediumDate'}}</p>
          <p>Administered: {{vaccine.dateAdministered | date:'mediumDate'}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Health Conditions">
    <div *ngFor="let condition of pet.conditions">
      <mat-card>
        <h3>{{condition.name}}</h3>
        <mat-card-content *ngIf="condition.notes">
          <p>{{condition.notes}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
<br>
<button mat-stroked-button color="warn" (click)="this.delete()">DELETE PROFILE</button>
